/* noto-serif-vietnamese-400-normal */
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(./files/noto-serif-vietnamese-400-normal.woff2) format('woff2');
}/* noto-serif-latin-ext-400-normal */
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(./files/noto-serif-latin-ext-400-normal.woff2) format('woff2');
}/* noto-serif-latin-400-normal */
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(./files/noto-serif-latin-400-normal.woff2) format('woff2');
}/* noto-serif-vietnamese-600-normal */
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url(./files/noto-serif-vietnamese-600-normal.woff2) format('woff2');
}/* noto-serif-latin-ext-600-normal */
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url(./files/noto-serif-latin-ext-600-normal.woff2) format('woff2');
}/* noto-serif-latin-600-normal */
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url(./files/noto-serif-latin-600-normal.woff2) format('woff2');
}